*{padding: 0; margin: 0; box-sizing: border-box;}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
}

h2, h3 {
    font-family: 'Darker Grotesque', sans-serif;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: beige;

}

.grid {
    display: flex;
}


nav {
    height: 100vh;
    background: url("https://i.pinimg.com/736x/b7/79/03/b779034979acb1e4d7f85627b3589742.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;

}